<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        {{#navLink "/blog"}}Blog{{/navLink}}
        {{#navLink "/about"}}About{{/navLink}}
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {{#navLink "/posts"}}Posts{{/navLink}}
        {{#navLink "/categories"}}Categories{{/navLink}}
        {{!-- {{#navLink "/posts/add"}}Add Post{{/navLink}} --}}
    </ul>
</div><!-- /.navbar-collapse -->